.open > .dropdown-menu {
    display: block;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: all 0.5s;
}

.ripple:hover {
    background: #1888ff radial-gradient(circle, transparent 1%, #007bff 1%) center/15000%;
    transform: scale(1.05);
    color: white;
}

.ripple:active {
    background-color: #007bffb4;
    background-size: 100%;
    transition: all 0s;
}

.active{
    background-color: #0273ece8;
    color: white;
    border-radius: 5px;
}