<div class="row">
    <div class="col-xs-12">
        <div class="container">
            <form  #Ingredient="ngForm" (ngSubmit)="onAddIngredient(Ingredient);">
                <div class="form-group row">
                    <div class="col-sm-7">
                        <label for="name">Name</label>
                        <input [ngModel]="nameIngredient" #inputName="ngModel" required type="text" class="form-control" name="inputName" id="inputName" placeholder="Name">
                    </div>
                    <div class="col-sm-5">
                        <label for="amount">Amount</label>
                        <input  ngModel #inputAmount="ngModel" required type="number" min="1" class="form-control" name="inputAmount" id="inputAmount"
                            placeholder="Amount">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <button type="submit" [disabled]="!Ingredient.valid" style="margin-right: 10px" class="btn btn-success">{{ editMode ? 'Update' : 'Add' }}</button>
                        <button type="button" *ngIf="editMode" (click)="deleteRecipe()" style="margin-right: 10px" class="btn btn-danger">Delete</button>
                        <button type="reset" (click)="clearForm()" class="btn btn-primary">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>